@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.masonry-with-columns {
  columns: 20vw;
  column-gap: 0.5rem;
  div {
    width: 20vw;
    background: #ec985a;
    color: white;
    margin: 2px 1rem 1rem 2px;
    display: inline-block;
    font-family: system-ui;
    font-weight: 500;
    overflow: hidden;
  }
}
